
<link rel="stylesheet" th:href="@{/assets/swiper/swiper-3.4.2.min.css}" crossorigin="anonymous">
<script th:src="@{/assets/swiper/swiper-3.4.2.min.js}" crossorigin="anonymous"></script>
<div class="w-full">
  <div class="swiper-container h-64 md:h-1/2">
    <div class="swiper-wrapper h-full">
      <div class="swiper-slide h-full">
        <img th:src="@{/assets/images/000.jpeg}" class="w-full h-full" />
      </div>
      <div class="swiper-slide">
        <img th:src="@{/assets/images/001.jpeg}" class="w-full h-full" />
      </div>
      <div class="swiper-slide">
        <img th:src="@{/assets/images/002.jpeg}" class="w-full h-full" />
      </div>
      <div class="swiper-slide">
        <img th:src="@{/assets/images/003.jpeg}" class="w-full h-full" />
      </div>
    </div>
    <div class="scale-50 md:scale-100 swiper-button-next swiper-button-white"></div>
    <div class="scale-50 md:scale-100 swiper-button-prev swiper-button-white"></div>
  </div>
</div>
<style>
.swiper-container {
    width: 100%;
} 
.swiper-wrapper{
  height: 100%;
}
.swiper-slide{
  height: 100%;
  width: 100%;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
}
.swiper-button-next.swiper-button-white{
  background: url("themes/theme-simple-official-website/assets/images/vbg01.png") -45px 0 rgba(0, 0, 0, .1) !important;
  border-radius: 6px;
  margin-left: 1%;
  width: 60px;
  height: 60px;
  text-align: center;
}
.swiper-button-prev.swiper-button-white{
  background: url("themes/theme-simple-official-website/assets/images/vbg01.png") 0px 0 rgba(0, 0, 0, .1) !important;
  border-radius: 6px;
  margin-left: 1%;
  width: 60px;
  height: 60px;
  text-align: center;
}
.swiper-button-prev{

}
</style>
<script> 
  const mySwiper = new Swiper('.swiper-container', {
    autoplay: 3000,//可选选项，自动滑动
    loop: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  })
  </script>