<header class="bg-white" x-data="{ isOn: false, isOpen: false }" th:with="menu = ${menuFinder.getPrimary()}">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="m-1.5 p-1.5">
        <img class="h-12 w-auto" th:src="${site.logo}" alt="">
      </a>
      <!-- <span class="flex flex-col justify-center"><span class="self-center">深圳市鑫马精工科技有限公司</span></span> -->
    </div>
    <div class="flex lg:hidden">
      <button @click="isOn = !isOn" type="button"  class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12" x-data="{ isOpen: false }"  th:with="menuItems = ${menu.menuItems}">
      <div th:each="menuItem : ${menuItems}">
        <a th:if="${menuItem.spec.href != '/tags'}"
              th:href="${menuItem.status.href}"
              th:target="${menuItem.spec.target?.value}">
              <span class="text-gray-800 transition-colors hover:text-main-red duration-300 transform dark:text-gray-200 mr-1.5 sm:mr-4" 
                    th:text="${menuItem.status.displayName}"></span>
        </a>
        <div th:if="${menuItem.spec.href == '/tags'}" class="relative">
          <button type="button" @click="isOpen = !isOpen" class="flex items-center gap-x-1 leading-6 hover:text-main-red" aria-expanded="false">
            <span th:text="${menuItem.status.displayName}" class="border-transparent transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500"></span>
            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
            <!-- Dropdown menu -->
          <div x-show="isOpen" 
            @click.away="isOpen = false"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-100"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-90" 
            th:with="tags = ${tagFinder.listAll()}"
            class="absolute z-10 w-12 mt-2 overflow-hidden origin-top-right bg-white rounded-md shadow-lg sm:w-80 dark:bg-gray-800"
          >
          <div class="py-1.5">
              <a th:each="tag : ${tags}" th:href="${tag.status.permalink}" class="flex items-center p-4 -mx-2 transition-colors duration-300 transform border-b border-gray-100 hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-700 cursor-pointer">
                  <p class="mx-2 text-sm text-gray-500 dark:text-white">
                    <span class="" th:text="${tag.spec.displayName}"></span>
                  </p>
              </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div x-show="isOn" class="fixed inset-0 z-10"></div>
    <div x-show="isOn"      
        x-transition:enter="transition ease-out duration-100 transform"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        class="fixed z-50 inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">深圳市鑫马精工科技有限公司</span>
          <img class="h-8 w-auto" th:src="${site.logo}" alt="">
        </a>
        <button type="button" @click="isOn = !isOn" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10 z-20" th:with="menuItems = ${menu.menuItems}">
          <div class="space-y-2 py-6" >
            <div th:each="menuItem : ${menuItems}">
              <a th:if="${menuItem.spec.href != '/tags'}" th:href="${menuItem.status.href}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" th:text="${menuItem.status.displayName}"></a>


            <div class="-mx-3" th:if="${menuItem.spec.href == '/tags'}"  x-data="{ isOpen: false }">
              <button @click="isOpen = !isOpen" type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false">
                <span th:text="${menuItem.status.displayName}"></span>
                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </button>
              <!-- 'Product' sub-menu, show/hide based on menu state. -->
              <div x-show="isOpen" class="mt-2 space-y-2" id="disclosure-1"   th:with="tags = ${tagFinder.listAll()}">
                <a  th:each="tag : ${tags}" th:href="${tag.status.permalink}" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50" th:text="${tag.spec.displayName}"></a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>