<!DOCTYPE html>
<html data-theme="cupcake" 
      xmlns:th="https://www.thymeleaf.org" 
      th:replace="~{modules/layout :: html(content = ~{::content})}">
  <th:block th:fragment="content">
    <div class="page" id="body-wrap">
      <!-- 导航栏 -->
      <th:block th:replace="~{modules/header}"/>
      <th:block th:replace="~{modules/index/carousel}"/>
      <th:block th:replace="~{modules/index/product}"/>
      <th:block th:replace="~{modules/index/product-list}"/>
      <th:block th:replace="~{modules/index/about-us}"/>
    </div>
    <!-- 底部 -->
    <th:block th:replace="~{modules/footer}" />
  </th:block>
</html>
