<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(content = ~{::content}, htmlType = 'about',title = '关于', head = ~{::head})}">
<th:block th:fragment="content">
  <div class="w-full" id="body-wrap">
    <th:block th:replace="~{modules/header}"/>
    <div class="sm:h-56 lg:h-96">
      <img alt="gallery" class="inset-0 w-full h-full object-cover object-center"  th:src="@{/assets/images/news.jpg}">
    </div>
    <div class="p-10 text-center">
      <h3 class="text-3xl text-rose-600">新闻中心</h3>
      <p class="text-zinc-400 leading-9">NEWS CENTER</p>
    </div>
    <!-- 列表 -->
    <section class="bg-white dark:bg-gray-900"
             th:with='postRandomImg=${#strings.contains(theme.config.basics.postRandomImg,"?") ? theme.config.basics.postRandomImg+"&" : theme.config.basics.postRandomImg+"?"}'>
      <div class="container px-6 py-10 mx-auto">
          <div class="grid grid-cols-1 gap-4 gap-8 mt-8 md:mt-16 md:grid-cols-3 xl:grid-cols-3">
              <div  th:each="post : ${posts.items}"
                    th:onclick="window.location.href=[[${post.status.permalink}]]"
                    class="cursor-pointer h-56 w-full overflow-hidden shadow">
                  <img
                    class="relative z-10 object-cover w-full overflow-hidden rounded-md h-56 hover:scale-110"
                    th:with='img = ${#strings.isEmpty(post.spec.cover) ? postRandomImg+post.spec.title : post.spec.cover}'
                    th:alt="${post.spec.title}"
                    th:src="${loadingImg}"
                    th:data-lazy-src="${img}">
                  <div class="relative z-20 w-full  p-3 mx-auto -mt-20 bg-white dark:bg-gray-900">
                    <a th:text="${post.spec.title}"  class="font-semibold text-gray-800 hover:underline dark:text-white md:text-xl">
                    </a>
                    <p th:text="${item.status.excerpt}"  class="mt-3 text-sm text-gray-500 dark:text-gray-300 md:text-sm">
                    </p>
                    <p class="mt-3 text-sm text-main-red" th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"></p>
                  </div>
              </div>
          </div>
      </div>
  </section>
    <!-- 分页 -->
    <div th:replace="~{modules/page_nations :: page('/categories/news',${posts},true,'')}"></div>
     <!-- 底部 -->
     <th:block th:replace="~{modules/footer}" />
  </div>
  </div>
</th:block>
</html>